# BRONZE_DIR=data/bronze
# SILVER_DIR=data/silver
# GOLD_DIR=data/gold
SHAREPOINT_LOC="..." 
INPUT_FILE="02_data/input/Copy of Scanbewegingen 2025.xlsx" 
PRODUCT_GROUPS_FILE="02_data/mapping/product_groups.xlsx"
OUTPUT_FILE="02_data/output/warehouse_model.xlsx"